@import "tailwindcss";



     
    

:root {
 /* Base */
    --background: #1b4c53;
    --foreground: #f9faed;
    --scrolleddown-background: #75B06F;

    /* Cards */
    --card: #ecdc9853;
    --card-foreground: #76b06f84;

    /* Popovers */
    --popover: 0 0% 100%;
    --popover-foreground: 140 30% 10%;

    /* Primary (Kaash Green) */
    --primary: #75B06F;
    --primary-foreground: #f0f1e1;

    /* Secondary */
    --secondary: #1b4c53;
    --secondary-foreground: #F0F8A4;

    /* Muted */
    --muted: #1a2b2b;
    --muted-foreground: 140 10% 35%;

    /* Accent (Leaf green) */
    --accent: 85 55% 63%;
    --accent-foreground: 140 30% 10%;

    /* Destructive */
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    /* Border/Input/Ring */
    --border: 110 15% 86%;
    --input: 110 15% 86%;
    --ring: 110 49% 32%;

    /* Radius */
    --radius: 0.75rem;
    --button: #E9D481;


}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eef8f6; /* light green */
}

::-webkit-scrollbar-thumb {
  background-color: #1b4c53; /* primary green */
  border-radius: 9999px;
  border: 2px solid #eef8f6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #143a40;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b4c53 #eef8f6;
}
.leaflet-control-attribution {
  display: none !important;
}